/* Positionnement image de index.md */
#imghome {
    float: right;
    padding-left: 2em;
}

@media (max-width: 890px) { 
    #imghome {
        float: none;
        display: block;
        margin: 1em auto;
        padding: 0 0;
    }
 }

 /* Positionnement et taille des images */

img.imgcenter {
    display: block;
    margin: 1em auto;
}

img.img500px {
    max-width: 500px;
}

img.img300px {
    max-width: 300px;
}

img.img150px {
    max-width: 150px;
}

img.img50px {
    max-width: 50px;
}

